@keyframes drunk {
   0% {
       transform: rotate(0deg);
       filter: none;}
   100% {
       transform: rotate(6deg);
       filter: blur(1px);
   }
}

@keyframes drunkerer {
   0% {
     transform: rotate(6deg);
          filter: blur(1px);
   }

   50% {
        filter: blur(9px);
   }

   100% {
     transform: rotate(-6deg);
          filter: blur(1px);
   }
}


body {
    background-repeat: no-repeat;
    background-size: auto 100%;
}

body.drunk {
    animation: 12s drunk;
}

body.drunk.drunkerer {
    background: url('drunk-mode.gif');
    background-color: #C239FF;
    animation: 6s infinite alternate drunkerer;
}
